<link rel="stylesheet" href="/css/signin.css">

<form  action="/users/create-session" method="POST">
    <div id="outer-div">
        <p>Sign In</p>
        <div class="inner-div">
            <label for="email">Username</label><br>
            <input type="email" name="Email" id="Password" placeholder="Email" required>
        </div>
        <div class="inner-div">
            <label for="Password">Password</label><br>
            <input type="password" name="Password" id="Password" placeholder="Password" required>
        </div>
    </div>
    <div id="signup-btn"><button id="btn" type="submit">Sign In</button></div>
    <br>
    <br>
    <a href="">New User? Sign up here.</a>
</form>